    *{
        @font-face 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url();
    margin:  0;
    box-sizing: border-box;
    }



header {
    width: auto;
    background-color: #1d0f6e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

   }

   .sonho {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
    color: white;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }

   .aviao{
    position: relative;
    text-align: center;
    color: white;

   }

.imagem {background-image: url(img/aviao.png);
    height: 3000px;
    align-items: center;
    width: auto;
    background-size: cover;
   mask-repeat: no-repeat;
  
}

h2 {
  color: #1d0f6e;
  font-size: 100px;
 margin: 100px;
 font-size: 300px;
  

}
.conteiner { 
  
   text-align: center;
   display: flex; /* Ativa o Flexbox */
   justify-content: space-around; /* Espaça os itens uniformemente */
   flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte em telas menores */
   margin: 200px;
   gap: 90px;
   padding:  0 15px;


   
}

.corpo {

    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Coloca o título acima das imagens */
    align-items: center;    /* Centraliza os itens no eixo horizontal */
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    align-items: center;
    justify-content: center;
    font-size:  100px;
}
span {

    font-size: 150px;

}
img {
    border: 10px solid #000;
    width: 100%;
    height: 100%;
    border-radius: 50px;
   }

   footer {
    font-size: 30px;
    background-color: #1d0f6e;
    height: 300px;
    padding: 30px 0;
   
   

}
.nao{
    margin: 100px;
}
.tour{
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
    font-size: 100px;
}